/*----------
#Header 
----------*/
#header {
   background-color: rgba(12, 11, 9, 0.6);
   border-bottom: 1px solid rgba(12, 11, 9, 0.6);
   transition: all 0.5s;
   z-index: 997;
   padding: 15px 0;
   top: 40px;
}

#header.header-scrolled {
    top : 0;
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #373f49;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    
}

#header .logo a {
    color: #ffffff;
    text-decoration: none;
}

#header .logo img {
    max-width: 40px;
}