/*-------------------
#Contact
---------------------*/
.contact {
    background-color: #1a1814; /* Fond sombre pour la section contact */
}

.contact .info {
    width: 100%;
    color: #fff; /* Texte blanc */
}

.contact .info i {
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    background: #cda45e; /* Icônes dorées */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #bab3a6; /* Texte gris clair */
}

.contact .info .open-hours, 
.contact .info .email, 
.contact .info .phone {
    margin-top: 40px;
}

.contact .contact-form {
    width: 100%;
    color: #fff; /* Texte blanc */
}

.contact .contact-form .form-group {
    margin-bottom: 8px;
}

.contact .contact-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .contact-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .contact-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .contact-form .loading {
    display: none;
    text-align: center;
    padding: 15px;
}

.contact .contact-form .loading:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #cda45e;
    border-top-color: #1a1814;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .contact-form .form-control {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #1a1814; /* Fond sombre */
    border-color: #625b4b; /* Bordure */
    color: #fff; /* Texte blanc */
}

.contact .contact-form input {
    height: 44px;
}

.contact .contact-form textarea {
    padding: 10px 12px;
    height: auto; /* Hauteur automatique */
}

.contact .contact-form input::placeholder,
.contact .contact-form textarea::placeholder {
    color: #a49b89; /* Couleur du placeholder */
    opacity: 1; /* Opacité à 100% */
}

.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
    border-color: #cda45e; /* Bordure dorée en focus */
    outline: none; /* Supprime l'outline par défaut */
}

.contact .contact-form button[type=submit] {
    background: #cda45e; /* Bouton doré */
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .contact-form button[type=submit]:hover {
    background: #d3af71; /* Bouton doré au survol */
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}