#menu-filters {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

#menu-filters li {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #cda45e;
    border-radius: 50px;
    transition: background 0.3s ease;
}

#menu-filters li.filter-active {
    background: #cda45e;
    color: #fff;
}

#menu-filters li:hover {
    background: #cda45e;
    color: #fff;
}